*{
    background-color: #032152;
    font-family: 'Indie Flower', cursive;
    color: #fff;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    display: inline-block;
    text-align: center;
}

h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 4px 0 #232931;
    font-size: 4rem;
    color: #4eccA3;
}

h2{
    font-size: 2rem;
    color: #4eccA3;
}

img{
    width: 80%;
}

footer{
    width: 20%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    color: #EEE;
    display: flex;
    justify-content: space-between;
}