*{
    background-color: #032152;
    font-family: 'Indie Flower', cursive;
    color: #fff;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    display: inline-block;
    text-align: center;
}

h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 4px 0 #232931;
    font-size: 4rem;
    color: #4eccA3;
}

h2{
    font-size: 2rem;
    color: #4eccA3;
}

img{
    width: 80%;
}

footer{
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    color: #EEE;
    display: flex;
    justify-content: space-between;
}

.button{
    margin-top: 50px;
}

button{
    width: 200px;
    height: 60px;
    font-size: 2rem;
    border-radius: 15px;
    color: #4eccA3;
}

@media only screen and (max-width: 600px) {
  footer{
    display: block;
  }
}